html, body,
#slides_container p, #slides_container span {
  font-family: AleoRegular, "Source Han Sans TC", "Noto Sans T Chinese", "Pingfang TC", "LiHei Pro", "Microsoft Jhenghei", serif;
}


#slides_container h1, #slides_container h2, #slides_container h3,
#slides_container h4, #slides_container h5, #slides_container h6 {
  font-weight: 600;
  font-family: "Open Sans", "PT Sans", "Trebuchet MS", "Source Han Sans TC", "Noto Sans T Chinese", "Pingfang TC", "LiHei Pro", "Microsoft Jhenghei", sans-serif;
}

#slides_container li {
  margin: 0.335em 0;
}
